mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->
doctype
html(lang='en')
  head
    title restbus | RESTful JSON API for NextBus
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css')
    <!--[if lte IE 8]>
    link(rel='stylesheet', href='/public/css/vendor/main-grid-old-ie.css')
    link(rel='stylesheet', href='/public/css/vendor/layouts/blog-old-ie.css')
    <![endif]-->
    <!--[if gt IE 8]><!-->
    link(rel='stylesheet', href='/public/css/vendor/main-grid.min.css')
    link(rel='stylesheet', href='/public/css/vendor/layouts/blog.min.css')
    <!--<![endif]-->
    link(rel='stylesheet', href='/public/css/custom.css')
  body
    #layout.pure-g
      div(class='sidebar pure-u-1 pure-u-med-1-4')
        .header
          div
            h1.brand-title restbus
            h2.brand-tagline.
              A RESTful JSON API for the
              <a href='http://www.nextbus.com/xmlFeedDocs/NextBusXMLFeed.pdf'>NextBus XML feed</a>.
          p: code npm install restbus
          nav.nav
            ul.nav-list
              li.nav-item: a.pure-button(href='/api/agencies') Demo
              li.nav-item: a.pure-button(href='https://github.com/morganney/restbus') GitHub
      div(class='content pure-u-1 pure-u-med-3-4')
        div
          block page
          .footer
            div(class='pure-menu pure-menu-horizontal pure-menu-open')
              ul
                li: a(href='http://opensource.org/licenses/MIT') MIT
                li: a(href='https://github.com/morganney/restbus/issues') issues
                li: a(href='https://github.com/morganney/restbus') source
            div(class='pure-menu pure-menu-horizontal pure-menu-open rbcopy')
              ul
                li built by <a href='https://twitter.com/morganney'>@morganney</a> 2014
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38208807-2', 'restbus.info');
      ga('send', 'pageview');