.header div {
  padding: 0 2em;
}
.header p {
  padding: 1em 2em;
  margin: 1em 0;
  background-color: #000;
}
.header .nav {
  padding: 0 2em;
}
.header .nav-item:first-child {
  margin-bottom: 1em;
}
.header .nav-item:last-child {
  margin-left: 0.3em;
}
.header .nav-item a {
  margin-top: 0;
}
div.rbcopy {
  padding-top: 1em;
}
div.rbcopy li {
  font-size: 80%;
  color: #ccc;
}
div.rbcopy a {
  display: inline;
  padding: 0;
  font-size: 100%;
  text-decoration: underline;
}
div.rbcopy a:hover {
  text-decoration: none;
}
#shell {
  font-size: 0.9em;
}
#shell h3 {
  font-size: 1.5em;
}
#shell h4 {
  font-size: 1.2em;
}
#shell h4.res {
  font-style: italic;
  color: #aaa;
  padding-bottom: 0.2em;
  border-bottom: 1px solid #eee;
}
#shell h5 {
  font-size: 1em;
}
#shell p {
  line-height: 1.5em;
}
#shell p code, #shell li code {
  background-color: #fff;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  border-radius: 3px;
  padding: .1em .2em;
}
div.gist {
  font-size: 0.9em;
}
div.warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
  padding: 0.1em 0.6em;
  border: 1px solid #faebcc;
  border-radius: 4px;
}
div.warning a {
  color: #66512c;
  font-weight: bold;
}
div.info {
  background-color: #d9edf7;
  color: #31708f;
  padding: 0.1em 0.6em;
  border: 1px solid #bce8f1;
  border-radius: 4px;
}
div.info a {
  color: #245269;
  font-weight: bold;
}
div.url {
  margin: 1.33em 0 0 0;
}
.url h4 {
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.url h4 em {
  padding-right: 0.3em;
}
#shell .url p {
  margin: 0;
}
#shell .url p.desc {
  margin: 0.7em 0 0.2em 0;
}
#_404 {
  text-align: center;
}
#_404 h3 {
  font-size: 3em;
}
@media (min-width: 48em) {
  .content {
  }
  .header {
    position: fixed;
    top: 30%;
    left: 0;
    margin: 0;
    width: 25%;
    /*margin: 75% 0 0 0;*/
  }
}